.active {
    width: auto;
    padding: 2px;
    color: rgb(255, 255, 0);
    margin: 10px;
    font-size: 18px;
}

.default {
    width: auto;
    padding: 2px;
    color: white;
    margin: 10px;
    text-decoration: none;
    font-size: 18px;
}